In [ ]:
import numpy  as np
import pandas as pd

np.random.seed(5678)
scores = np.random.randint(50,101,size=(50,5))
students = pd.DataFrame(scores,
            index=[f"學生{x}" for x in range(1,51)],
            columns=["國文", "英文", "數學", "生物", "物理"])
students

In [ ]:
#中括號 [] 裡放的是字典的鍵，例如 '國文'，代表你要取出這個鍵所對應的值

students['國文']

#兩個中括號會顯示出國文標題和所有學生的成績
#外中括號是subscript，內中括號是list
students[['國文']]


students[['國文','數學']]

In [ ]:
sum_series = np.sum(students,axis=1)
average_series = np.mean(students, axis=1)
average_series

In [ ]:
students_finish = students.copy()
students_finish['總分'] = sum_series
students_finish['平均'] = average_series
students_finish

In [ ]:
#由index開始選取
students_finish.loc['學生1'] #利用索引
students_finish.loc[['學生1','學生3']] #利用[索引]
students_finish.loc['學生1':'學生10'] #slicing(切割)
students_finish.loc['學生1':'學生10','國文':'物理']

#[從0開始到9，從0開始到4]
students_finish.iloc[:10,:5]

In [17]:
#實體中的索引、loc、iloc只能view，不能修改

student1 = students_finish.loc['學生1'] #利用索引
student1['國文'] = 100

C:\Users\User\AppData\Local\Temp\ipykernel_5516\1175721341.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  student1['國文'] = 100

In [21]:
#要先copy一份到新變項，再進行成績修改

students10 = students_finish.iloc[:10].copy()
students10.loc['學生1','國文'] = 100
students10

       國文  英文  數學  生物  物理   總分    平均
學生1   100  68  63  86  64  354  70.8
學生2    81  69  64  78  80  372  74.4
學生3    65  55  68  56  50  294  58.8
學生4    55  69  76  65  59  324  64.8
學生5    69  69  75  74  53  340  68.0
學生6    75  67  92  99  71  404  80.8
學生7    54  50  84  68  62  318  63.6
學生8    63  91  52  71  78  355  71.0
學生9    68  98  70  71  96  403  80.6
學生10   82  65  82  85  63  377  75.4

In [22]:
#透過取的選取
#subscript[list[boolean]]
mask = [True,False,False,True,True,False,False,False,True,True]
students10[mask]

       國文  英文  數學  生物  物理   總分    平均
學生1   100  68  63  86  64  354  70.8
學生4    55  69  76  65  59  324  64.8
學生5    69  69  75  74  53  340  68.0
學生9    68  98  70  71  96  403  80.6
學生10   82  65  82  85  63  377  75.4

In [23]:
mask = students10['國文'] >= 85
students10[mask]

      國文  英文  數學  生物  物理   總分    平均
學生1  100  68  63  86  64  354  70.8

In [24]:
students10[students['數學'] >= 90]

C:\Users\User\AppData\Local\Temp\ipykernel_5516\2565981734.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  students10[students['數學'] >= 90]

     國文  英文  數學  生物  物理   總分    平均
學生6  75  67  92  99  71  404  80.8

In [25]:
students_finish[students_finish['總分'] >= 400]

      國文  英文   數學   生物  物理   總分    平均
學生6   75  67   92   99  71  404  80.8
學生9   68  98   70   71  96  403  80.6
學生11  98  64  100   88  61  411  82.2
學生20  97  82   90   84  59  412  82.4
學生23  93  63   68   96  87  407  81.4
學生28  92  91   67   79  92  421  84.2
學生32  71  95   88   54  94  402  80.4
學生35  63  92   68   86  92  401  80.2
學生36  82  70   92   97  79  420  84.0
學生40  95  71   81   81  92  420  84.0
學生42  75  96   82   83  72  408  81.6
學生43  99  91   98  100  90  478  95.6