In [ ]:
import numpy as np
import pandas as pd


#index_col='國家'，指定哪一欄（column）作為 DataFrame 的索引（index）
#usecols 是用來指定**要讀取 CSV 檔案中哪些欄位（columns）**的參數

df = pd.read_csv('world.csv',index_col='國家',usecols=['國家','日期','總確診數','新增確診數','新增死亡數'])
mask = df.index == "台灣"
taiwan = df[mask]
taiwan

            日期     總確診數  新增確診數  新增死亡數
國家
台灣  2020-01-16        0      0      0
台灣  2020-01-17        0      0      0
台灣  2020-01-18        0      0      0
台灣  2020-01-19        0      0      0
台灣  2020-01-20        0      0      0
..         ...      ...    ...    ...
台灣  2022-07-02  3837856  34807     96
台灣  2022-07-03  3870528  32672     88
台灣  2022-07-04  3893643  23115     69
台灣  2022-07-05  3929627  35984    103
台灣  2022-07-06  3964188  34561     95

[903 rows x 4 columns]

In [ ]:
taiwan[taiwan['新增死亡數'] >= 100]

In [ ]:
#存檔為CSV
#DataFrame 的索引通常是每一列的標籤（例如行號、國家名稱等），如果 index=True，這些索引會成為 CSV 檔案的第一欄。

taiwan.to_csv("taiwan.csv",encoding="utf-8",index=True)

In [ ]:
#index=False的csv檔中，index會不見，國家此欄會不見


taiwan.to_csv("taiwan1.csv",encoding="utf-8",index=False)